<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ site.siteTitle }}</title>  <!-- This is the title on the Web Page!!! -->
  </head>
  <body class="{{ pageClass }}">
    <p>This is base-layout</p>
    
    <nav aria-label="Primary navigaton">
        <ul>
            {% for page in collections.page %}
            <li>
                <a href="{{ page.url | url }}">{{ page.data.navTitle }}</a>  
            </li>
            {% endfor %}
        </ul>
    </nav>
