<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ site.siteTitle }}</title>  <!-- This is the title on the Web Page!!! -->
  </head>
  <body class="{{ pageClass }}">
    <nav aria-label="Primary navigaton">
        <ul>
            {% for page in collections.page %}
            <li>
                <a href="{{ page.url | url }}">{{ page.data.navTitle }}</a>  
            </li>
            {% endfor %}
        </ul>
    </nav>    
    <main tabindex="-1" class="content">
      <h1>{{ pageTitle }}</h1>
      {{ content }}  <!-- refers to the data in your [file].md file -->
    </main>
    {% include "base-h1.html" %}  

    <!-- this runs on all the pages... becuase it's in the _includes
            Note, when you change the page... you reload the scripts.js and so you wipe out what you see
            in the console.
    -->
    <!-- <script src="/js/scripts.js"></script> -->
</body>
</html>


