<!-- Use a class Selector!!!! -->
<nav aria-label="Primary"> <!-- for screen reader -->
    <a href="#" id="pull"></a>  <!-- This creates a hamburger when the screen is small ... look at css -->
    <ul>
      {% for nav in collections.nav %}
        <!-- If statement using Templating language -->
        <!--  adds the class 'active' to the url that is being viewed -->
        <li class="{% if nav.url == page.url %} active{% endif %}">
          <a href="{{ nav.url | url }}">{{ nav.data.navTitle }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
