$break-sm: 480px;
$break-med: 768px;
$break-wide: 980px;

$max-width: 980px;

$link: #007eb6;
$hover: #df3030;
$text: #333;
$med-gray: #666;
$light-gray: #ddd;
$dk-yellow: #dbd1b5;


body {
    background-color: lightblue;
}

#pull {
    display: block;
    background-color: $link;
    padding-top: 12px;
    padding-left: 12px;
    width: 100vh;
    @media (min-width: $break-med) {
        display:none
    }
}
  
#pull::after {
    content: "";
    background: url(../img/nav-icon.png) no-repeat;
    width: 22px;
    height: 22px;
    background-size: cover;
    display: inline-block;    
}

nav ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $link;

    @media (min-width: $break-med) {
        display: flex;
        justify-content: space-around;
        background: $link;
        text-align: center;   
    }

}
  
nav a {
    padding: 1rem;
    color: #fff;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    &:hover {
        text-decoration: none;
    }
}

//refactor this for large Screens
// nav li:hover:not(.active) {
//     background-color: lighten($link, 10%);
// }
nav li {
    &:hover:not(.active) {
        background-color: lighten($link, 10%);
    }

    @media (min-width: $break-med) {
        flex-grow: 1;
    }
}


nav .active {
    background-color: darken($link, 10%);
}

nav .active a {
    font-weight: bold;
}

.show-nav nav ul {
    // display: block;
    // position: absolute;
    // width: 100%;

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}



// nav ul {
//     padding: 0;
//     list-style: none;
//     display: flex;
// }

// nav ul a {
//     padding: 0.5rem 1rem;
// }


// @media screen and (min-width: $break-sm) {
//     body {
//         background-color: lightgreen;
//     }
// }

// @media screen and (min-width: $break-med) {
//     body {
//         background-color: lavender;
//     }
// }

// @media screen and (min-width: $break-wide) {
//     body {
//         background-color: lavender;
//     }
// }
