@import "imports/variables.scss";
@import "imports/base.scss";
@import "imports/nav.scss";


@media (max-width: $break-sm) {
    body{
        // background-color: rgb(255, 250, 250);
        background-color: $light-gray;
    }

    h1 {
        font-size:x-large;
    }
    
    h2 {
        font-size:large;
    }

    figure{
        margin: 0;
    }

    p {
        margin: 5px 5px 5px 5px;
        // font-size:large;
    }
}

@media screen and (min-width: $break-sm) {
    body {
        background-color: $dk-yellow;
    }

    p {
        margin: 10px 16px 10px 16px;
    }

    h3 {
        
        margin-left: 10px;
    }
}

@media screen and (min-width: $break-med) {
    body {
        background-color: $med-gray;
    }
}

// @media screen and (min-width: $break-wide) {
//     body {
//         background-color: rgb(54, 54, 246);
//     }
// }